//http://sass-lang.com/guide
//can use sass or scss - difference in syntax
$space-large: 2.5rem;
$space-small: .5rem;
$title-color: #555;


.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-small;
}

input[type=search] {
  box-shadow: none;
}
